<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/assets/css/style.css">
    <title>Home</title>
</head>
<body>
    <section class="container">
        <div class="img-container">
            <h3 class="hero-title">it's time to <span>Discover</span></h3>
            
            <form class="form" action="/horaires" method="POST">
                <select name="trip" class="form-select" id="">
                    <option value="one-way">One-Way</option>
                    <option value="rebound">Rebound</option>
                </select>
                <select name="places" class="form-select" id="person">
                    <option value="1">one person</option>
                    <option value="2">two person</option>
                    <option value="3">three persons</option>
                    <option value="4">four persons</option>
                    <option value="5">five persons</option>
                </select>
                <div class="form-inputs">
                    <input name="DepartStation" class="form-input" type="text" placeholder="Leaving from">
                    <input name="ArrivalStation" class="form-input" type="text" placeholder="Going to">
                    <input name="DepartDate" class="form-input" type="date"placeholder="Departure">
                    <input name="ArrivalDate" class="form-input" type="date" placeholder="Return">
                </div>
                <button class="form-button" type="submit" class="btn">search</button>
            </form>
        </div>
    </section>

    <% if (flights) { %>
           
        <% if (flights.length>0) { %>

    <div class="table-wrapper">

        <table class="table table-hover">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Depart Station</th>
                    <th>Arrival Station</th>
                    <th>Depart Date</th>
                    <th>Arrival Date</th>
                    <th>Places</th>
                    <th>Escale</th>
                    <th>Price</th>
                    <th>Book</th>
                </tr>
            </thead>
            <tbody>
                <% flights.map(function(flight) { %>
                    <tr>
                        <td><%= flight.name %></td>
                        <td><%= flight.departureStation %></td>
                        <td><%= flight.arrivalStation %></td>
                        <td><%= flight.departDate %></td>
                        <td><%= flight.arrivalDate %></td>
                        <td><%= flight.places %></td>
                        <td><%= flight.location %></td>
                        <td><%= flight.price+"dh" %></td>
                        <td>
                            <button type="button" class="form-button" OnClick="bookNow('<%= flight.flight_id %>')">book</button>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

    <% } %>
          <% if (flights.length==0) { %>

            <h3>Aucun Vol existe dans cette data à votre destination</h3>

            <% } %>
          <!-- fin 1ere condition -->
          
          <% } %>

          <div id="myModal" class="modal">
            <!-- Modal content -->
            <form class="modal-content" action="/booking" method="POST">
              <span class="close">&times;</span>
      
              <div class="modal-header">
              </div>
              <div class="modal-body">

                <div class="input-personnel">
                    <label for="fName">First Name</label>
                    <input type="text" name="fName" id="fName" required>
                </div>
                <div class="input-personnel">
                    <label for="lName">Last Name</label>
                    <input type="text" name="lName" id="lName" required>
                </div>
                <div class="input-personnel">
                    <label for="email"> Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="input-personnel">
                    <label for="passport">N Passport</label>
                    <input type="text" name="passport" id="passport" required>
                </div>
                <div class="input-personnel">
                    <label for="tel">Tel</label>
                    <input type="tel" name="tel" id="tel" required>
                </div>
                <div class="input-personnel" style="display: none;">
                    <input type="number" name="flight_id" id="flight-id">
                </div>
            </div>
              <div class="modal-footer">
                <button type="submit" class="form-button" OnClick="" >Book Now</button>
              </div>
            </form>
          </div>
       <script src="../assets/js/main.js"></script>
</body>
</html>